@import '../../style/style.scss';

.akatsuki {
    &_list {
        align-items: start;
        padding-bottom: 50px;
    }
    &_grid {
        display: grid;
        grid-template-columns: repeat(4, 200px);
        column-gap: 123px;
        margin-left: 180px;
        row-gap: 30px;
    }
    &_item {
        transition: transform 0.3s ease;
        cursor: pointer;
        overflow: hidden;
        list-style-type: none;
        &:hover {
            transition: transform 1s ease;
            box-shadow: 0 5px 20px red;
            transform: translateY(-5px);
        }
    }
    &_img {
        width: 200px;
        height: 210px;
        object-fit: cover;
    }
    &_name {
        backdrop-filter: blur(10px);
        font-size: 24px;
        color: white;
        text-shadow:
        -1px -2px 0 #000,  
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000, /* Создание эффекта обводки */
        0px 0px 5px rgba(0, 0, 0, 0.5);
        text-align: center;
        &_yellow {
        backdrop-filter: blur(10px);
        font-size: 25px;
        color: rgb(255, 165, 0);
        text-shadow:
        -1px -2px 0 #000,  
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000, /* Создание эффекта обводки */
        0px 0px 5px rgba(0, 0, 0, 0.5);
        text-align: center;
        }
    }

    &_button {
        margin-top: 40px;
    }

    &_inner {
        border: 1px solid;
        font-size: 17px;
        width: 126px;
        padding: 10px 16px;
        margin: 0 auto;
        color: darkorange;
        text-align: center;
        box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
        outline: 2px solid;
        outline-color: rgba(255, 255, 255, .5);
        text-shadow: none;
        transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
        -webkit-text-stroke: 1px black;
        cursor: pointer;
      } 
      
    &_inner:hover {
        box-shadow: inset 0 0 20px red, 0 0 20px red;
        outline-color: white;
        text-shadow: 1px 1px 2px #427388; 
        transform: translateY(-2px);
      }
/*       rgb(154, 18, 138) */
}


@media screen and (max-width: 714px) {
    /* CSS правила для мобильных устройств */
    .akatsuki {
        &_grid {
            grid-template-columns: repeat(1, 200px);
            margin-top: 45px;
            margin-left: 109px;
        }
    }
}

@media screen and (max-width: 361px) {
    /* CSS правила для мобильных устройств */
    .akatsuki {
        &_grid {
            grid-template-columns: repeat(1, 200px);
            margin-top: 20px;
            margin-left: 79px;
        }
        &_inner {

        }
    }
}