@import '../../style/style.scss';

.single {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: 50px;
    text-shadow: 
    -2px -2px 0 black,  
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
}
.single_comic {
    margin-top: 50px;
    column-gap: 40px;
/*     backdrop-filter: blur(10px); */
/*     clip-path: polygon(21% 0%, 81% -2%, 81% 104%, 21% 102%); */

    display: flex;
    justify-content: center;
    margin-right: 200px;
    text-shadow: 
    -2px -2px 0 black,  
    2px -2px 0 black,
    -2px 2px 0 black,
    2px 2px 0 black;
    &_img {
        box-shadow: 0px 0px 15px rgba(159, 0, 19, 1);
        width: 310px;
        height: 370px;
    }
    &_info {
        color: white;
    }

    &_name {
        font-size: 25px;
    }
    &_descr {
        width: 600px;
        margin-top: 35px;
        line-height: 22px;
    }
    &_family {
        color: white;
        margin-top: 10px;
    }
    &_jutsu {
        margin-top: 18px;
    }
    &_unique_character {
        margin-top: 18px;
    }
    &_manga {
        margin-top: 18px;
    }
    &_anime {
        margin-top: 18px;
    }
}

@media screen and (max-width: 415px) { 
    .single {
        font-size: 20px;
        margin: 16px 0 0px 15px;
    }
    .single_comic {
        display: block;
        margin-left: 16%;
        margin-right: 0;
        &_info {
            width: 52%;
        }
    }
}

@media screen and (max-width: 360px) { 
    .single {
        font-size: 20px;
        margin: 16px 0 0px 15px;
    }
    .single_comic {
        display: block;
        margin-left: 10%;
        margin-right: 0;
        &_info {
            width: 52%;
        }
    }
}