@import '../../style/style.scss';
/* @import '../../style/arrow.scss'; */

.char {
    &_list {
        margin-top: 30px;
        display: grid;
        grid-template-columns: 650px 425px;
        column-gap: 30px;
        align-items: start;
    }
    &_grid {
        display: grid;
        grid-template-columns: repeat(4, 200px);
        column-gap: 123px;
        margin-left: 180px;
        row-gap: 30px;
    }
    &_item {
        transition: transform 0.3s ease;
        cursor: pointer;
        overflow: hidden;
        list-style-type: none;
        &:hover {
            transition: transform 1s ease;
            box-shadow: 0 5px 20px red;
            transform: translateY(-5px);
        }
    }
    &_img {
        width: 250px;
        height: 230px;
/*         object-fit: cover; */
    }
    &_name {
        backdrop-filter: blur(10px);
        font-size: 20px;
        color: rgb(160, 32, 240);
        text-shadow:
        -1px -2px 0 #000,  
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000, /* Создание эффекта обводки */
        0px 0px 5px rgba(0, 0, 0, 0.5);
        text-align: center;
        &_yellow {
        backdrop-filter: blur(10px);
        font-size: 25px;
        color: rgb(255, 165, 0);
        text-shadow:
        -1px -2px 0 #000,  
        2px -2px 0 #000,
        -2px 2px 0 #000,
        2px 2px 0 #000, /* Создание эффекта обводки */
        0px 0px 5px rgba(0, 0, 0, 0.5);
        text-align: center;
        }
    }
    &_arrow {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: calc(26% - 20px); /* учитываем padding */
        padding: 0 10px;

        &_left {
            margin-top: 8px;
        }
        &_count {
            width: 20%;
            height: 20px;
            margin-left: 42px;
            font-size: 30px;
            color: white;
            text-shadow:
            -1px -2px 0 #000,  
            2px -2px 0 #000,
            -2px 2px 0 #000,
            2px 2px 0 #000, /* Создание эффекта обводки */
            0px 0px 5px rgba(0, 0, 0, 0.5);
            margin-bottom: 22px;
        }
        &_rightkon {
            transform: rotate(180deg);
            width: 130px;
            height: 50px;
            cursor: pointer;
        }
        &_leftkon {
            width: 130px;
            height: 50px;
            cursor: pointer;
        }
    }
}

